@media (max-width: 960px) {
  .main-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 67% 30% 20% 20% 25% 25% 50% 30% 30% 15%;
  }
  .item-php {
    grid-column-start: 1;
    grid-column-end: span 2;
    perspective: 1000px;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .item-net {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 8;
    grid-row-end: 11;
  }

  .item-event {
    grid-column-start: 2;
    grid-column-end: 3;
    perspective: 1000px;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .item-blog {
    grid-column-start: 2;
    grid-column-end: 3;
    perspective: 1000px;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .item-contacts {
    grid-column-start: 2;
    grid-column-end: 3;
    perspective: 1000px;
    grid-row-start: 10;
    grid-row-end: 11;
  }
}


@media (max-width: 600px) {
  .main-container {
    grid-template-columns: 100%;
    grid-template-rows: 100% 50% 100% 50% 50% 50% 30% 30% 15%;
    margin-top: 10%;
  } 
  
  .item-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item-qa {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .item-js {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .item-java {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .item-php {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .item-net {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .item-event {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .item-blog {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .item-contacts {
    grid-column-start: 1;
    grid-column-end: 2;
    perspective: 1000px;
    grid-row-start: 9;
    grid-row-end: 10;
  }
}