body {
  background-color: rgb(247, 247, 247);
  font-family: sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 22% 25% 35% 18%;
  grid-template-rows: 67% 30% 20% 20% 25% 25%;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
}
