@keyframes slideFromTop {
  0% {
      transform: translateY(-100%);
    }
  100% {
      transform: translateY(0);
  }
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(252, 252, 252);
    animation: 1s ease-out 0s 1 slideFromTop;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.logo-container {
    width: 15%;
}

.logo-img {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-logo {
  width:40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  background: rgb(100, 206, 0);
}

.user-logo:hover {
  background: rgb(88, 182, 0);
}

.user-logo label {
  color:white;
}

label:hover {
  cursor: pointer;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + .user-content {
  display: block;
  right: 100px;
  height: 100px;
}


.user-content {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  width: max-content;
  height: 0;
  font-size: 16px;
  line-height: 10px;
  padding: 0 20px 0 20px;
  overflow: hidden;
  right: 100px;
  position: absolute;
  z-index: 2;
  top: 60px;
  -webkit-transition: all .3s ease; 
  -moz-transition: all .3s ease; 
  -ms-transition: all .3s ease; 
  -o-transition: all .3s ease; 
  transition: all .3s ease;
}

.user-name p{
  color: rgb(160, 160, 160);
  border-bottom: 1px solid #b6b6b6;
  padding: 5px 5px 5px 5px;
}

.account-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.account-info a {
  float: left;
}

.profile {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.profile:hover {
  background-color: rgb(243, 243, 243);
}

.profile a:link, a:visited {
  padding-bottom: 3px;
  color: rgb(58, 58, 58);
  text-decoration: none;
}

.logout {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.logout a:link {
  color: rgb(58, 58, 58);
  text-decoration: none;
}

.logout:hover {
  background-color: rgb(243, 243, 243);
}

.notify-icon {
  margin-right: 15px;
}

.notify-icon svg {
  width: 100%;
  fill: rgb(209, 209, 209);
}

.notify-icon svg:hover {
  transition: 0.4s;
  fill: rgb(190, 190, 190);
}