.notification {
  position: fixed;
  top: 80%;
  right: 5%;
}

.notification-item {
  width: 200px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 5%;
  opacity: .9;
  padding: 15px 10px;
}

.notification-item img {
  padding-right: 10px;
}

.notification-info span {
  font-weight: 700;
}

.notification-info p {
  margin: 0 0;
  font-size: 14px;
}

.error {
  background: rgb(209, 56, 56);
}

.success {
  background: rgb(61, 209, 56);
}

.warning {
  background: rgb(181, 209, 56);
}