.item-blog {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end:  6;
  perspective: 1000px;
}

.blog-front, .blog-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.blog-front {
  background: rgb(42, 75, 167);
  z-index: 1;    
}

.blog-front span {
  display: block;
  font-size: 20px;
  font-weight: 100;
  color: rgb(236, 231, 231);  
}

.item-blog:hover .blog-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.blog-back {
  background: #fff;
  overflow: auto;
}

.blog-back p {
  padding-left: 10%;
  padding-right: 10%;      
}

.item-blog:hover .blog-front {
  width: 0%;
  height: 0%;
  transform: translateX(170px);
}