.item-contacts {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end:  7;
  perspective: 1000px;
}

.contacts-front, .contacts-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.contacts-front {
  background: rgb(26, 46, 99);
  z-index: 1;    
}

.contacts-front span {
  display: block;
  font-size: 20px;
  font-weight: 100;
  color: rgb(236, 231, 231);  
}

.item-contacts:hover .contacts-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.contacts-back {
  background: #fff;
  overflow: auto;
  
}

.contacts-back p {
  padding-left: 10%;
  padding-right: 10%;    
}

.item-contacts:hover .contacts-front {
  transform: scaleX(0);
}