
.item-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-logo img {
  width: 100%;
}

.item-qa {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 7;
  position: relative;
  perspective: 1000px;
}

.qa-front, .qa-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.qa-front {
  background: rgb(64, 196, 86);
  font-size: 80px;
  color: #fff;
}

.qa-back {
  background: #fff;
  transform: rotateY(180deg);
}

.qa-back p {
  padding-left: 10%;
  padding-right: 10%;
}

.item-qa:hover .qa-front  {
  transform: rotateY(180deg);
}

.item-qa:hover .qa-back  {
  transform: rotateY(360deg);
}