.item-js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 4;
  perspective: 1000px;
}

.js-front, .js-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.js-front {
  background: rgb(243, 209, 58);
}

.js-front span {
  font-size: 90px;
  font-weight: 700;
  color: rgb(5, 5, 5);
  position: absolute;
  top: 70%;
  left: 50%;
}

.js-back {
  background: #fff;
  transform: rotateY(-180deg);
}

.js-back p {
  padding-left: 10%;
  padding-right: 10%;
}

.item-js:hover .js-front  {
  transform: rotateY(-180deg);
}

.item-js:hover .js-back  {
  transform: rotateY(-360deg);
}