.item-java {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  perspective: 1000px;
}

.java-front, .java-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.java-front {
  background: rgb(243, 64, 58);
  z-index: 1;
}

.java-front span {
  font-size: 50px;
  font-weight: 100;
  color: rgb(247, 247, 247);
}

.java-back {
  background: #fff;
  overflow: auto;
}

.java-back p {
  padding-left: 10%;
  padding-right: 10%;  
}

.item-java:hover .java-front {
  height: 0%;
}

.item-java:hover .java-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}