.item-php {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: 2;
  perspective: 1000px;
}

.php-front, .php-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden; 
}

.php-front {
  background: rgb(145, 140, 202);
  z-index: 1;
}

.php-front span {
  font-style: italic;
  font-size: 70px;
  font-weight: 100;
  color: rgb(20, 20, 20);
}

.php-back {
  background: #fff;
  overflow: auto;
}

.php-back p {
  padding-left: 10%;
  padding-right: 10%;
}

.item-php:hover .php-front {
  height: 0%;
  width: 0%;
}

.item-php:hover .php-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

