.item-net {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;
  perspective: 1000px;
}

.net-front, .net-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.net-front {
  background: rgb(83, 28, 94);
  z-index: 1;
}

.net-front span {
  display: block;
  font-size: 90px;
  font-weight: 500;
  color: rgb(248, 245, 245);
}

.net-back {
  background: #fff;
  overflow: auto;
}

.net-back p {
  padding-left: 10%;
  padding-right: 10%;
}

.item-net:hover .net-front {
  transform: scale(0, 0);
}

.item-net:hover .net-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}