.item-event {
  grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  4;
    perspective: 1000px;
}

.event-front, .event-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.event-front {
  background: rgb(54, 184, 216);
  z-index: 1;    
}

.event-front span {
  display: block;
  font-size: 20px;
  font-weight: 100;
  color: rgb(236, 231, 231);  
}

.item-event:hover .event-front span  {
  opacity: 0;

  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.event-back {
  background: #fff;
  overflow: auto;
}

.event-back p {
  padding-left: 10%;
  padding-right: 10%;      
}

.item-event:hover .event-front {
  width: 0%;
}
